body{
    font-family: 'Roboto', sans-serif;
    background-color:white;
}
/* navbar css starts here  */
.bg-light{
    background-color:rgb(225, 252, 252)!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color:darkblue!important;
}

.nav-link{
    color:darkblue!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #eb9f9f;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
    background-color: rgb(192, 250, 245);
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(78, 153, 223)!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(67, 83, 230)!important;
}